

#personalwebsite{
    background-color: #EEE0C9 ;
    width:300px;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    padding-left: 1%;
}

body{
    background-color:#F1F0E8;
    font-family: 'PT Sans', sans-serif;
}

#myimage{
    margin: 5px;
    object-position: right top;
    border-radius: 20px;
    float: right;
    transform: translateY(-100px);
}

#introduction{
    background-color: #EEE0C9;
    width:1100px;
    border-radius:20px;
    padding: 1%;
}

.content{
    
    width: 79.5%;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#github{
    text-align: center;
    transform: translateX(-100px);
    width: 70%;
}

#githubimg{
    border-radius: 5000px;
}

#linkedin{
    margin: 50px;
    transform: translateX(70%);
    position: relative; 
    top: -310px;
    left: -150px;
}

#linkedintext{
    transform: translateY(45px);
    position: relative;
    right: -80px;
    
}

#linkedinpng{
    position: relative;
    top: 2px;
}
